* {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
body{
	font: 16px/28px arial, sans-serif;
	background-image: url(img/mirrored_squares.png);
	color: #333333
}

.container {
	width: 960px;
	margin: auto;
	background-color: #fff;
}

.header {
	padding: 20px;
	padding-bottom: 10px; 
}

.header .judul {
	font-size: 30px;
	font-weight: bold;
}

.header ul li {
	display: inline-block;
	margin-top: 15px;
	margin-right: 5px;
}

.header a {
	text-decoration: none;
	color: black;
	text-align: center;
	padding: 0px 16px 0px 16px;
}

.header a:hover {
	text-decoration: underline;
	background-color:#c0c0c0;
	color: white;
}

.hero {
	height: 500px;
	background-image: url(img/Gmbr1.jpg);
	background-size: cover;
	background-position: 0 -25px;
}
.hero1 {
	float: left;
	background-color: black;
}
.hero2 {
	height: 500px;
	background-image: url(img/Data.png);
	background-size: cover;
	background-position: 0 -25px;
}